<ion-header>
  <ion-navbar>
    <ion-title>Login App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <list-person></list-person>

  <app-parent></app-parent> -->

    <!-- <app-card>
      <app-parent class="card-header"></app-parent>
    </app-card>
    <p class="card-body">body</p> -->

    <!-- create rules Pipe component -->
    <!-- <pipe></pipe> -->

    <!-- create request Http -->
    <!-- <p> This is IP server json : {{ ip }} </p> -->

    <!-- weather app -->
    <!-- <weather-app></weather-app> -->

    <!-- signin component -->
    <!-- <app-sign-in></app-sign-in> -->

    <!-- sign up component -->
    <app-sign-up></app-sign-up>
    

</ion-content>


<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div *ngIf="isShowForm">
      <input placeholder="English" [(ngModel)]="newEn">
      <input placeholder="Vietnamese" [(ngModel)]="newVn">
      <br>
      <br>
      <button (click)="addWord();" ion-button>Thêm từ mới</button>
    </div>
    <br>
    <button (click)="isShowForm = true" *ngIf="!isShowForm" ion-button>Show Form</button>
    <br>

    <ion-list radio-group [(ngModel)]="filterStatus">
      <ion-item>
        <ion-label>Xem tất vả</ion-label>
        <ion-radio value="all_remember" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Từ đã nhớ</ion-label>
        <ion-radio value="remember" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Từ chưa nhớ</ion-label>
        <ion-radio value="not_remember" checked></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let word of arrWords">
        <div *ngIf="getShowStatus(word.memorized);">
          <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">{{ word.en }}</h4>
          <p> {{ word.vn }} </p>
          <button (click)="removeWord(word.id);" ion-button color="danger">Delete</button>
          <button (click)="word.memorized = !word.memorized" ion-button color="secondary"> {{ word.memorized ? 'Active' : 'Deactive'}} </button>
        </div>
      </ion-item>
    </ion-list>

  </div>

</ion-content> -->
