<div class="container">
  <div *ngIf="isShowForm">
    <input placeholder="English" [(ngModel)]="newEn">
    <input placeholder="Vietnamese" [(ngModel)]="newVn">
    <br>
    <br>
    <button (click)="addWord();">Thêm từ mới</button>
  </div>
  <br>
  <button (click)="isShowForm = true" *ngIf="!isShowForm">Show Form</button>
  <br>

  <ul class="list-group">
    <li *ngFor="let word of arrWords" class="list-group-item">
      <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">{{ word.en }}</h4>
      <p> {{ word.vn }} </p>
    </li>
  </ul>

</div>
